.container {
    font-family: arial;
    font-size: 22px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.form-block h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-block input {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid;
    font-size: 22px;
    letter-spacing: 0.1ch;
    width: 90%;
}

.form-block button {
    font-family: Arial;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    display: block;
    margin: 0 auto;
}

.form-block button:active {
    background: #d8d8d8;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
