services:
  app:
    build: .
    environment:
      - WATCHPACK_POLLING=true
    ports: 
      - "3000:3000"
    volumes:
      - ./my-app:/usr/src/app
      - /usr/src/app/node_modules
    stdin_open: true
    tty: true
